@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = "Master.cshtml";
}

<div>
    <h1>@Model.Name</h1
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed ligula eros. Ut ex mauris, molestie a quam at, ultrices vulputate enim. Suspendisse ligula dolor, vestibulum vel mi eu, dignissim tempus turpis. Pellentesque ullamcorper tellus rhoncus augue mattis fringilla. Quisque eros arcu, elementum convallis condimentum sed, rhoncus vel lacus. Aenean sed vehicula erat, eu vestibulum purus. Donec magna ex, commodo non velit sit amet, finibus fermentum lorem.</p>
</div>


