@inherits Umbraco.Web.Mvc.UmbracoViewPage

@using ClientDependency.Core.Mvc

@{
    Layout = null;

    //Html.RequiresCss("path to css file1 here");
    //Html.RequiresCss("path to css file2 here");

    //Html.RequiresJs("path to js file1 here");
    //Html.RequiresJs("path to js file2 here");
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1' http-equiv='X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>My Blog Unbraco</title>

    @*@Html.RenderCssHere()*@
</head>
<body>
    @Html.Partial("~/Views/Partials/_Navigation.cshtml")

    @RenderBody()

    @Html.Partial("~/Views/Partials/_Footer.cshtml")

   @* @Html.RenderJsHere()*@

</body>
</html>

